.disk {
    height: calc(4 * var(--unit));
    max-width: 100%;
    line-height: calc(4 * var(--unit));
    border-radius: var(--unit);
    color: white;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
    margin: 0 auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}